<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <style>
      .container {
        margin-top: 20px;
      }
      .text-center {
        text-align: center;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h2 class="'text-center">Cars I Have Known and Loved (C.I.H.K.A.L.)</h2>
      <table class="u-full-width">
        <thead>
          <tr>
            <th>Year</th>
            <th>Make</th>
            <th>Model</th>
            <th>Color</th>
            <th>How it died</th>
          </tr>
        </thead>
        <tbody>
          {% for car in cars %}
          <tr>
            <td>{{ car.year }}</td>
            <td>{{ car.make }}</td>
            <td><a href="details/{{ car.id }}">{{ car.model }}</a></td>
            <td>{{ car.color }}</td>
            <td>{{ car.died }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
