<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <style>
      .container {
        margin-top: 20px;
      }
      .text-center {
        text-align: center;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h2 class="'text-center">Car Detail</h2>
      <h1>{{ car.year }} {{ car.make }} {{ car.model }}</h1>

      <p>Color: {{ car.color }}</p>
      <p>How it died: {{ car.died }}</p>

      <p>Back to <a href="/cars">Cars</a></p>
    </div>
  </body>
</html>
